body {
  background-color: lightcyan;
  font-family: sans-serif;
  background-image: url('/assets/img/bg.jpeg');
  
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.stick {
  background-color: #4C2C1D ;
  width: 20px;
  
}
#blackboard {
  width: 50%;
  background-image: url('/assets/img/imgbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  border-top: 20px solid #4C2C1D;
  border-bottom: 20px solid #4C2C1D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#blackboard > article {
  font-size: 0.9em;
  transition: all 0.9s ease;
  width: 21%;
  margin: 0px 2%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px -15px black;
}
.c1 {
  background-color: #EEEEB9;
  transform: rotate(18deg);
}
.card-1 {
  animation-name: animate1;
  animation-duration: 1s;
}
.c2 {
  background-color: lightcoral;
  transform: rotate(-10deg);
}
.card-2 {
  animation-name: animate2;
  animation-duration: 0.7s;
}
.c3 {
  background-color: darkkhaki;
  transform: rotate(-5deg);
}
.card-3 {
  animation-name: animate3;
  animation-duration: 0.9s;
  animation-delay: 0.1s;
}

.c4 {
  background-color: lightblue;
  transform: rotate(5deg);
}
.card-4 {
  animation-name: animate4;
  animation-duration: 1.4s;
  animation-delay: 0.1s;
}
.c5 {
  background-color: rgb(238, 220, 220);
  transform: rotate(-10deg);
}
.card-5 {
  animation-name: animate5;
  animation-duration: 1s;
}
.c6 {
  background-color: greenyellow;
  transform: rotate(-6deg);
}
.card-6 {
  animation-name: animate6;
  animation-duration: 1.6s;
}
.c7 {
  transform: rotate(11deg);
  background-color:#EEEEB9;
}
.card-7 {
  animation-name: animate7;
  animation-duration: 2s;
}
.c8 {
  background-color: rgb(187, 1, 187);
  transform: rotate(-4deg);
}
.card-8 {
  animation-name: animate8;
  animation-duration: 1.2s;
}
@keyframes animate1 {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
    transform: rotate(18deg);
  }
}

@keyframes animate2 {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    transform: rotate(10deg);
  }
}

@keyframes animate3 {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    transform: rotate(-5deg);
  }
}
@keyframes animate4 {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    transform: rotate(5deg);
  }
}
@keyframes animate5 {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    transform: rotate(-10deg);
  }
}
@keyframes animate6 {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    transform: rotate(-6deg);
  }
}
@keyframes animate7 {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    transform: rotate(11deg);
  }
}
@keyframes animate8 {
  0% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    transform: rotate(4deg);
  }
}
#blackboard article:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.35);
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.696);
}
